.str1
  font-size 30px 
  color green
  bold()
  text-transform: uppercase
.str2 
  font-size 18px
  color grey2
.str3
  font-size 26px 
  color blue4 !important
  bold()
  &:visited 
    color blue4
.str5
  font-size 26px
  bold()
.str6
  font-size 16px
  color white
.str7
  font-size 14px 
  line-height 18px
  bold()
  text-transform: uppercase
.str8 
  font-size 16px 
  text-transform: uppercase
  bold()
.str12 
  font-size 60px
  bold()
  color blue4
  text-transform: uppercase
  span 
    color red
    font-size 60px
    vertical-align: top
.str13 
  font-size 18px
  color grey
.str14 
  bold()
  font-size 24px 
  color grey2
.str15 
  font-size 15px 
  color grey2
.str16 
  font-size 24px 
  color white
  text-transform: uppercase
  bold()
.str17
  font-size 24px 
  color grey2
.str18
  font-size 36px 
  color grey2
.str19
  font-size 48px 
  color blue5
  bold()
  display: block
.str20 
  font-size 18px 
  color white
  display block
  margin-bottom 23px
  span 
    bold()
    font-size 18px
  &_m 
    margin-bottom 5px
.str21 
  margin-bottom 12px
  font-size 18px 
  color white
  bold()
  text-transform: uppercase
.str404
  font-size: 250px
.section__h2 
  color blue5
  font-size 36px
  text-align: center
  margin 30px 0
  bold()
  text-transform: uppercase
  &:after 
  &:before 
    content '.'
    bold()
    display inline-block
    font-size 32px
    margin 0 13px
    position relative 
    top -9px
.section__contact-title
  font-size 30px 
  bold()
  color grey2
  margin 0 0 30px 0

b
strong
  bold()