.str1
  font-size calc(30px - .2rem)
  color green
  bold()
  text-transform: uppercase
.str2 
  font-size calc(18px - .2rem)
  color grey2
.str3
  font-size calc(26px - .2rem)
  color blue4 !important
  bold()
  &:visited 
    color blue4
.str5
  font-size calc(26px - .2rem)
  bold()
.str6
  font-size calc(16px - .2rem)
  color white
.str7
  font-size calc(14px - .2rem)
  line-height 18px
  bold()
  text-transform: uppercase
.str8 
  font-size calc(16px - .2rem)
  text-transform: uppercase
  bold()
.str12 
  font-size calc(56px - .2rem)
  bold()
  color blue4
  text-transform: uppercase
  span 
    color red
    font-size calc(60px - .2rem)
    vertical-align: top
.str13 
  font-size calc(18px - .2rem)
  color grey
.str14 
  bold()
  font-size calc(24px - .2rem)
  color grey2
.str15 
  font-size calc(15px - .2rem)
  color grey2
.str16 
  font-size calc(24px - .2rem)
  color white
  text-transform: uppercase
  bold()
.str17
  font-size calc(24px - .2rem)
  color grey2
.str18
  font-size calc(36px - .2rem)
  color grey2
.str19
  font-size calc(48px - .2rem)
  color blue5
  bold()
  display: block
.str20 
  font-size calc(18px - .2rem)
  color white
  display block
  margin-bottom 23px
  span 
    bold()
    font-size calc(18px - .2rem)
  &_m 
    margin-bottom 5px
.str21 
  margin-bottom 12px
  font-size calc(18px - .2rem)
  color white
  bold()
  text-transform: uppercase
.str404
  font-size: 250px
.section__h2 
  color blue5
  font-size calc(36px - .2rem)
  text-align: center
  margin 30px 0
  bold()
  text-transform: uppercase
  &:after 
  &:before 
    content '.'
    bold()
    display inline-block
    font-size calc(32px - .2rem)
    margin 0 13px
    position relative 
    top -9px
.section__contact-title
  font-size calc(30px - .2rem)
  bold()
  color grey2
  margin 0 0 30px 0

b
strong
  bold()