extends layout
include mixins.jade

block content
    section.section__content
        .container-wrapper
            +bread([
                ['Главная'],
                ['Диагностика']
            ])
            .row.between
                +sidebar([
                    ['Виды диагностики']
                ])
                .section__content-main
                    h1 Позаботьтесь об осанке своего ребенка сейчас
                    .row.padding__row
                        h2 Избавьте от болей и отклонений в будущем
                    .row.padding__row
                        p.text
                            | Избавьте от болей и отклонений в будущем
                            br
                            | До 70% детей школьного возраста страдают нарушением осанки. Если обратиться к врачу вовремя – все они обратимы. В противном случае ребенка ожидают тяжелые последствия – сколиоз, остеохондроз и межпозвоночные грыжи.
                    .row.padding__row
                        p Увидеть тревожные симптомы легко:
                    .row.padding__row.between
                        ul.section__content-list.col__50
                            li.section__content-li Сутуловатость фигуры
                            li.section__content-li Голова наклонена вперед или в сторону
                            li.section__content-li Выступающие лопатки
                        ul.section__content-list.col__50
                            li.section__content-li Сутуловатость фигуры
                            li.section__content-li Голова наклонена вперед или в сторону
                    .row.padding__row
                        p.text Мы предлагаем быстрый и комфортный для Вас и ребенка способ объективной диагностики состояния осанки за 1 визит
                    .row
                        .img-wrapper
                            img(src='images/test/kids.jpg')
                    .row.padding__row.ta-center.mb-20
                        h3.red  Мы вовремя выявим проблемы с осанкой и, при необходимости, восстановим ровную спину. для этого мы предлагаем комплекс диагностики, который поможет за несколько часов проверить полное состояние позвоночника вашего ребенка
                    .padding-row
                        .table.actions
                            .table__header
                                .content__row
                                    .content__cell Услуга
                                    .content__cell.col__20 Цена, руб.
                            .table__body
                                .content.fadeIn.animated.open
                                    .content__row
                                        .content__cell Аллергенспецифическая иммунотерапия, препарат "Алюсталь" (базовый курс)
                                        .content__cell.col__20
                                            b 24 000
                                    .content__row
                                        .content__cell Аллергенспецифическая иммунотерапия, препарат "Фосталь" (базовый курс)
                                        .content__cell.col__20
                                            b 24 000
                                    .content__row
                                        .content__cell
                                            | Аллергенспецифическая иммунотерапия, препарат "Алюсталь", поддерживающий курс (1 инъекция)
                                        .content__cell.col__20
                                            b 4 000
                                    .content__row
                                        .content__cell
                                            | Аллергенспецифическая иммунотерапия, препарат "Алюсталь", начальный курс (1 инъекция)
                                        .content__cell.col__20
                                            b 24 000
                                    .content__row
                                        .content__cell
                                            | Аллергенспецифическая иммунотерапия, препарат "Фосталь", поддерживающий курс (1 инъекция)
                                        .content__cell.col__20
                                            b 24 000
                                    .content__row
                                        .content__cell
                                            | Аллергенспецифическая иммунотерапия, препарат "Фосталь", начальный курс (1 инъекция)
                                        .content__cell.col__20
                                            b 24 000
                                    .content__row
                                        .content__cell Аллергенспецифическая иммунотерапия с 1-м аллергеном (1 процедура)
                                        .content__cell.col__20
                                            b 24 000
                                    .content__row
                                        .content__cell Скарификационный тест на аллергены (9 аллергенов)
                                        .content__cell.col__20
                                            b 24 000
                                    .content__row
                                        .content__cell Скарификационный тест на аллергены (18)
                                        .content__cell.col__20
                                            b 24 000
                                    .content__row
                                        .content__cell Внутрикожный тест с неинфекционным аллергеном
                                        .content__cell.col__20
                                            b 24 000
                                    .content__row
                                        .content__cell.red Холодовой тест (Дункан-тест)
                                        .content__cell.col__20
                                            strike 24 000
                                            | &nbsp;&nbsp;
                                            br
                                            b.red 5921
                    .padding__row.ta-center
                        h4 Что вы получите
                    .section__content-row
                        .row.padding__row.between.ta-center
                            .col__25
                                .img-wrapper
                                    img(src='images/test/spine.png')
                                p Полную картину состояния позвоночника
                            .col__25
                                .img-wrapper
                                    img(src='images/test/foot.png')
                                p Полную картину состояния позвоночника
                            .col__25
                                .img-wrapper
                                    img(src='images/test/dance.png')
                                p Полную картину состояния позвоночника
                    .section__content-row
                        .row.ta-center.mb-20
                            h3.red  Мы вовремя выявим проблемы с осанкой и, при необходимости, восстановим ровную спину. для этого мы предлагаем комплекс диагностики, который поможет за несколько часов проверить полное состояние позвоночника вашего ребенка

                    .row.padding__row.between.ta-center
                        .col__25
                            .img-wrapper
                                img(src='images/test/resume.png')
                            p Полную картину состояния позвоночника
                        .col__25
                            .img-wrapper
                                img(src='images/test/charity.png')
                            p Полную картину состояния позвоночника
                        .col__25
                            .img-wrapper
                                img(src='images/test/doctor.png')
                            p Полную картину состояния позвоночника

                    h2.padding__row
                        b Заявка на диагностику ребенка

                    h2.padding__row
                        b Преимущества акции:

                    ul.section__content-ul.padding__row.col__100
                        li.section__content-li lorem

                        li.section__content-li lorem

                        li.section__content-li lorem

                        li.section__content-li lorem

                    h3.padding__row
                        b Преимущества акции:

                    ul.section__content-ul.padding__row.col__100
                        li.section__content-li lorem

                        li.section__content-li lorem

                        li.section__content-li lorem

                        li.section__content-li lorem


