extends layout
include mixins.jade

block content
    section.section__content
        .container-wrapper
            +bread([
                ['Главная'],
                ['Диагностика']
            ])
            .row.between
                +sidebar([
                    ['Виды диагностики']
                ])
                .section__content-main
                    h1 Позаботьтесь об осанке своего ребенка сейчас
                    .row.padding__row
                        h2 Избавьте от болей и отклонений в будущем
                    .row.padding__row
                        p.text
                            | Избавьте от болей и отклонений в будущем
                            br
                            | До 70% детей школьного возраста страдают нарушением осанки. Если обратиться к врачу вовремя – все они обратимы. В противном случае ребенка ожидают тяжелые последствия – сколиоз, остеохондроз и межпозвоночные грыжи.
                    .row.padding__row
                        p Увидеть тревожные симптомы легко:
                    .row.padding__row.between
                        ul.section__content-list
                            li.section__content-li Сутуловатость фигуры
                            li.section__content-li Голова наклонена вперед или в сторону
                            li.section__content-li Выступающие лопатки
                        ul.section__content-list
                            li.section__content-li Сутуловатость фигуры
                            li.section__content-li Голова наклонена вперед или в сторону
                    .row.padding__row
                        p.text Мы предлагаем быстрый и комфортный для Вас и ребенка способ объективной диагностики состояния осанки за 1 визит
                    .row
                        .img-wrapper
                            img(src='images/test/kids.jpg')
                    .row.padding__row.ta-center


//Избавьте от болей и отклонений в будущем
//До 70% детей школьного возраста страдают нарушением осанки. Если обратиться к врачу вовремя – все они обратимы. В противном случае ребенка ожидают тяжелые последствия – сколиоз, остеохондроз и межпозвоночные грыжи.
//В подавляющем числе случаев нарушения являются приобретенными по причине отсутствия у ребенка правильно сформированных привычек, а также адекватной физической нагрузки.
//Увидеть тревожные симптомы легко:
//
//Сутуловатость фигуры
//Голова наклонена вперед или в сторону
//Выступающие лопатки
//
//Мы предлагаем быстрый и комфортный для Вас и ребенка способ объективной диагностики состояния осанки за 1 визит