mixin header
  header.header
    .header__desktop.responsive-column
      .header__top
        .container-wrapper
          .row.between
            .header__col.header__col_200.static
              .header__col-wrap
                a(href='').header__logo
                a(href="").header__all Все клиники сети
            .header__col.ta-center
              span.str1 Детский центр на Пресне
              span.str2 г. Москва, пр. Шмитовский, д. 19, корп. 1
            .header__col.col__30
              a(href="").button.button_red.jsCall заказать звонок
            .header__col.col__23
              a(href="tel:+74953088067").str3 +7 (495) 308-80-67
              span.str4 пн-пт: 8:10-21:00  сб, вс: 9:00-21:00
      .header__bottom
        .container-wrapper
          menu.menu
            button.toggle-menu.jsTag
              .sandwitch
                span.sw-topper
                span.sw-bottom
                span.sw-footer
            a(href="tel:+74953088067").str3.responsive-number +7 (495) 308-80-67
            ul.row.menu_ul
              li.menu__item.menu__item_active
                a.menu__link(href="page1.html") Детские врачи
              li.menu__item
                a.menu__link(href="page5.html") Анализы
              li.menu__item
                a.menu__link(href="page3.html") Диагностика
              li.menu__item
                a.menu__link(href="#") Лечение
              li.menu__item
                a.menu__link(href="#") Прививки
              li.menu__item
                a.menu__link(href="#") Справки
              li.menu__item
                a.menu__link(href="page9.html") Вопрос и ответ
              li.menu__item
                a.menu__link(href="page12.html") Цены
              li.menu__item
                a.menu__link(href="page13.html") Контаткы
            a(href="").button.button_red.jsCall.responsive-call
              <svg class='r-icon' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="2 -10 100 125" enable-background="new 0 0 100 100" xml:space="preserve"><path d="M79.5,73.5c3.8,3.8,3.8,9.3,0,13.3l-6,6c-2.4,2.4-5.3,3.8-8.7,4.1c-0.6,0.1-1.2,0.1-1.8,0.1c-4.6,0-8.7-1.3-11.5-2.4  c-7.7-2.8-14.7-7.1-22.3-13.4C20,73.5,12.8,64.3,7.7,53.8c-1.9-4.1-4.2-9.5-4.6-15.6c-0.3-4.9,1.3-8.9,4.6-12c0,0,0.1-0.1,0.1-0.1  c1-0.9,2-1.9,3-2.9c0.7-0.8,1.5-1.5,2.3-2.3c4.1-3.9,9.5-3.9,13.5,0.1l9.5,9.5c1.9,1.8,3,4.1,3,6.5c0,2.5-1,4.8-3,6.8l-5.9,5.9  c-1.4,1.4-3.6,1.4-5,0c-1.4-1.4-1.4-3.6,0-5l5.9-5.9c0.6-0.6,0.9-1.2,0.9-1.8c0-0.6-0.5-1.2-0.9-1.6l-9.6-9.6  c-1.3-1.3-2.4-1.2-3.7,0.1c-0.7,0.7-1.4,1.3-2.1,2.1c-1.1,1.1-2.2,2.3-3.5,3.4c-1.8,1.7-2.5,3.6-2.3,6.3c0.3,4.9,2.3,9.5,3.9,13  c4.6,9.6,11.2,18,19.6,25C40.6,81.5,47,85.4,53.9,88c4.1,1.5,7.3,2.1,10.3,1.9c1.7-0.2,3.1-0.8,4.4-2l5.9-5.9c1.5-1.6,0.7-2.7,0-3.5  c0,0-0.1-0.1-0.1-0.1c-1-1-2-2-3-3.1c-0.6-0.5-1.1-1.1-1.7-1.7L65,68.9c-1.4-1.4-2.3-1.4-3.7,0c-0.5,0.5-1,1-1.5,1.5  c-1.5,1.4-2.8,2.8-4.2,4.3c0,0-0.1,0.1-0.1,0.1c-2.2,2.2-4.4,1.4-5.1,1.2c-0.1,0-0.2-0.1-0.2-0.1c-3.1-1.3-5.9-3-9.4-5.7  c-3.4-2.8-6.3-5.6-8.9-8.5c-1.3-1.5-1.1-3.7,0.3-4.9c1.5-1.3,3.7-1.1,4.9,0.3c2.3,2.7,4.9,5.2,8,7.7c2.3,1.8,4.3,3.2,6.3,4.1  c1.1-1.2,2.3-2.3,3.4-3.4c0.5-0.5,1-1,1.5-1.5c4.1-4.1,9.5-4.1,13.6,0l4.7,4.7c0.5,0.5,1.1,1.1,1.6,1.6  C77.3,71.3,78.4,72.4,79.5,73.5z M48.9,28.8c5.6,0.9,10.7,3.6,14.7,7.6s6.7,9.1,7.6,14.7c0.3,1.7,1.8,2.9,3.4,2.9c0.2,0,0.4,0,0.6,0  c1.9-0.3,3.2-2.1,2.9-4c-1.2-7-4.5-13.4-9.6-18.5c-5.1-5.1-11.5-8.4-18.5-9.6c-1.9-0.3-3.7,1-4,2.9C45.7,26.7,47,28.5,48.9,28.8z   M81.2,18.9C72.9,10.6,62.4,5.1,50.9,3.2c-1.9-0.3-3.7,1-4,2.9c-0.3,1.9,1,3.7,2.9,4c10,1.7,19.2,6.5,26.5,13.7  c7.3,7.3,12,16.4,13.7,26.5c0.3,1.7,1.8,2.9,3.4,2.9c0.2,0,0.4,0,0.6-0.1c1.9-0.3,3.2-2.1,2.9-4C94.9,37.6,89.5,27.2,81.2,18.9z" fill='white'/></svg>
      .header__responsive.row.center
        .header__responsive-icon 
        a(href="").str1 Детский центр на Пресне
    .header__sticky.animated.fadeInDown.jsNone
      .container-wrapper
        .row.between.center
          .header__sticky-logo
            a(href="")
          a(href="").button.button_red.jsCall Заказать звонок
          a(href="").button.button_bord.jsProc Вызов врача на дом
          .header__col.col__210
            span.str3 +7 (495) 308-80-67
            span.str4 пн-пт: 8:10-21:00  сб, вс: 9:00-21:00
          a(href="").button.button_blue.jsOrd Запись на прием
mixin slider2
  section.section__sl
    .section__sl-wrap
      .bx-slider-1
        - for (var x = 0; x < 2; x ++)
          .slide
            .slide-wrapper 
              h2.section__h2 Довольные родители
              .section__sl-text.row.between
                p Ахмадьянова Ирина Мансуровна, Сторублева Светлана Викторовна - спасибо огромное за позитив! Очень приятно Ваше участие и внимание.
              .section__sl-name Карина Рустамовна
              .section__sl-date 26.05.2016
      .section__sl-controls
        .s-prev
        .sep
        .s-next

mixin bread(item)
  .bread
    button.toggle-menu.toggle-menu-2.jsTag2
      .sandwitch
        span.sw-topper
        span.sw-bottom
        span.sw-footer
    ul
      li.bread__item
        a(href="")=item [0]
      li.bread__item.bread__item_active=item [1]

mixin sidebar(item)
  aside
    .sidebar
      if item[0]= item[0]
        span.sidebar__titel= item[0]
      ul
        li.sidebar__item.sidebar__item_active
          a.sidebar__link(href="") Алдерголог-иммунолог
        li.sidebar__item
          a.sidebar__link(href="") Врач  ЛФК
        li.sidebar__item
          a.sidebar__link(href="") Гинеколог
        li.sidebar__item
          a.sidebar__link(href="") Дерматолог
        li.sidebar__item
          a.sidebar__link(href="") Кардиолог
        li.sidebar__item
          a.sidebar__link(href="") ЛОР (оттоларинголог)
        li.sidebar__item
          a.sidebar__link(href="") Логопед
        li.sidebar__item
          a.sidebar__link(href="") Мануальный терапевт
        li.sidebar__item
          a.sidebar__link(href="") Массажист
        li.sidebar__item
          a.sidebar__link(href="") Невролог
        li.sidebar__item
          a.sidebar__link(href="") Ортопед-травматолог
        li.sidebar__item
          a.sidebar__link(href="") Офтальмолог
        li.sidebar__item
          a.sidebar__link(href="") Педиатр
        li.sidebar__item
          a.sidebar__link(href="") Психотерапевт
        li.sidebar__item
          a.sidebar__link(href="") Рефлексотерапевт
        li.sidebar__item
          a.sidebar__link(href="") Уролог
        li.sidebar__item
          a.sidebar__link(href="") Физиотерапевт

mixin pagination()
  ul.row.pagnav
    li.pagination__item.pagination__item_active
      a(href="").pagination__link 1
    li.pagination__item 
      a(href="").pagination__link 2
    li.pagination__item 
      a(href="").pagination__link 3
    li.pagination__item
      a(href="").pagination__link 4
    li.pagination__item 
      a(href="").pagination__link 5
    li.pagination__item 
      a(href="").pagination__link Следующая страница

mixin rating()
  ul.row.between.rate
    li.rate__star.rate__star_active
    li.rate__star.rate__star_active
    li.rate__star.rate__star_active
    li.rate__star.rate__star_active
    li.rate__star.rate__star_active
    li.rate__star
    li.rate__star
    li.rate__star
    li.rate__star
    li.rate__star

mixin button 
  .section__content-adds
    h4.section__content-h4 Внимание, <span>СПЕЦПРЕДЛОЖЕНИЕ</span> для детишек!
  .section__content-adds2
    .section__content-adds3.row.between.center
      span.span-1 3
      span.span-2 Скидка на консультацию аллерголога - 50%!
      a(href="").button.button_white.jsOrd Записаться по акции

mixin feed 
  .feed 
    h5.section__content-h5.section__content-h5_reset Быстрая запись на анализы
    .row.between
      .col__55.col_margin
        .form-wrapper 
          form(action="")
            .row
              .col__50.col_margin
                input(type="text", placeholder='Имя*').form__input
              .col__50
                input(type="text", placeholder='Телефон*').form__input
            .row.center-c
              input(type="submit", value='Записаться в 1 клик').button.button_blue.button_big
            .str2.ta-center Секретарь свяжится с вами в течении 1 часа
      .col__45
        .str17 Не хоите ждать, пока вам <br>  перезвонят? Запишитесь онлайн - <br> в личном кабинете: 
        .enter
          a(href="") Вход
          span
          a(href="") Рвгистрация

mixin sidebar2(item)
  aside
    .sidebar
      if item[0]= item[0]
        span.sidebar__titel= item[0]
      ul.accord
        li.sidebar__item
          a.sidebar__link(href="") КТ позвоночника
          ul.sidebar__sub
            li.sidebar__sub-item
              a(href="").sidebar__sub-link - КТ грудного отдела
            li.sidebar__sub-item
              a(href="").sidebar__sub-link - КТ поясничного отдела
        li.sidebar__item
          a.sidebar__link(href="") КТ головного мозга
          ul.sidebar__sub
            li.sidebar__sub-item
              a(href="").sidebar__sub-link - КТ грудного отдела
            li.sidebar__sub-item
              a(href="").sidebar__sub-link - КТ поясничного отдела
        li.sidebar__item
          a.sidebar__link(href="") КТ органов грудной клетки
          ul.sidebar__sub
            li.sidebar__sub-item
              a(href="").sidebar__sub-link - КТ грудного отдела
            li.sidebar__sub-item
              a(href="").sidebar__sub-link - КТ поясничного отдела
        li.sidebar__item
          a.sidebar__link(href="") КТ сосудов
          ul.sidebar__sub
            li.sidebar__sub-item
              a(href="").sidebar__sub-link - КТ грудного отдела
            li.sidebar__sub-item
              a(href="").sidebar__sub-link - КТ поясничного отдела
        li.sidebar__item
          a.sidebar__link(href="") КТ костной ткани
          ul.sidebar__sub
            li.sidebar__sub-item
              a(href="").sidebar__sub-link - КТ грудного отдела
            li.sidebar__sub-item
              a(href="").sidebar__sub-link - КТ поясничного отдела
        li.sidebar__item
          a.sidebar__link(href="") КТ органов малого таза
          ul.sidebar__sub
            li.sidebar__sub-item
              a(href="").sidebar__sub-link - КТ грудного отдела
            li.sidebar__sub-item
              a(href="").sidebar__sub-link - КТ поясничного отдела
        li.sidebar__item
          a.sidebar__link(href="") КТ органов брюшной полости
          ul.sidebar__sub
            li.sidebar__sub-item
              a(href="").sidebar__sub-link - КТ грудного отдела
            li.sidebar__sub-item
              a(href="").sidebar__sub-link - КТ поясничного отдела
        li.sidebar__item
          a.sidebar__link(href="") КТ ЛОР-органов
          ul.sidebar__sub
            li.sidebar__sub-item
              a(href="").sidebar__sub-link - КТ грудного отдела
            li.sidebar__sub-item
              a(href="").sidebar__sub-link - КТ поясничного отдела

mixin sidebar3()
  aside 
    .section__content-adds2
      .section__content-adds3.ta-center
        span.icon-13
        span.span-2 Скидка на консультацию аллерголога - 50%!
        a(href="").button.button_white Записаться по акции