//- jade/notification.jade
.notification
  .notifi.notifi_error.animated.fadeInUp.jsVisible
    .close
    span Error
    p A nefarious individual could purloin your Mac and bypass your user account password in order to access your data or wipe your system clean and begin using it as their own. It’s possible to reset a password by booting into Recovery Mode or from an external drive.
  .notifi.notifi_success.animated.fadeInUp.jsVisible
    .close
    span Success
    p A nefarious individual could purloin your Mac and bypass your user account password in order to access your data or wipe your system clean and begin using it as their own. It’s possible to reset a password by booting into Recovery Mode or from an external drive.
  .notifi.notifi_worning.animated.fadeInUp.jsVisible
    .close
    span Warning
    p A nefarious individual could purloin your Mac and bypass your user account password in order to access your data or wipe your system clean and begin using it as their own. It’s possible to reset a password by booting into Recovery Mode or from an external drive.
  .notifi.notifi_information.animated.fadeInUp.jsVisible
    .close
    span Information
    p A nefarious individual could purloin your Mac and bypass your user account password in order to access your data or wipe your system clean and begin using it as their own. It’s possible to reset a password by booting into Recovery Mode or from an external drive.