extends layout
include mixins.jade

block content
  section.section__content
    .container-wrapper
      +bread([
        ['Главная'],
        ['Диагностика']
      ])
      .row.between
        +sidebar([])
        .section__content-main
          .bg
            .section__content-items
              .section__content-dates
                span 13 
                span июля 
                span 2016       
                span админ
              h2.section__news-h2 Не следует, однако забывать, что сложившаяся структура организации! 
              img(src="images/photo/15.jpg", alt="").article__img
              p.text Равным образом начало повседневной работы по формированию позиции в значительной степени обуславливает создание соответствующий условий активизации. Товарищи! реализация намеченных плановых заданий требуют определения и уточнения форм развития.
              p.text Повседневная практика показывает, что новая модель организационной деятельности в значительной степени обуславливает создание систем массового участия. Не следует, однако забывать, что сложившаяся структура организации позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Идейные соображения высшего порядка.
              .row.between.responsive-column
                .col__34 
                  p.text С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции требуют определения и уточнения направлений прогрессивного развития. Задача организации, в особенности же новая модель 
                .col__60.padding-right
                  .section__content-img-border
                    img(src="images/photo/16.jpg", alt="")
              .container.cit.ta-center
                p Товарищи! дальнейшее развитие различных форм деятельности способствует подготовки и реализации модели развития. Не следует, однако забывать, что сложившаяся структура организации играет.
                span Томас Джефирсон
              .container.container_titel
                span.str18 Разнообразный и богатый
                span.str19 Опыт сложившаяся
              .row.responsive-column
                .col__54.section__content-img-border-wrapper
                  .section__content-img-border
                    img(src="images/photo/17.jpg", alt="")
                .col__46
                  p.text Задача организации, в особенности же начало повседневной работы по формированию позиции способствует подготовки и реализации форм развития. Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. Равным образом укрепление и развитие структуры позволяет выполнять важные задания по разработке соответствующий условий активизации. Товарищи! сложившаяся структура организации в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. 
              .row.between.section__content-tags.center
                .col__50.row.wrap.center
                  span Тэги:    
                  a(href="").tags Дети, 
                  a(href="").tags Береминость, 
                  a(href="").tags Мама, 
                  a(href="").tags Здоровье
                .col__50.row.center
                  span Поделиться:
                  ul.row.wrap.center.between.socials__ul
                    li.social__item
                      a(href="").social__link
                    li.social__item
                      a(href="").social__link
                    li.social__item
                      a(href="").social__link
                    li.social__item
                      a(href="").social__link
                    li.social__item
                      a(href="").social__link
                    li.social__item
                      a(href="").social__link
          .pagination-wrapper.pagination-wrapper_reset
            ul.row.full__pagination.full__pagination_reset
              li.pagination__item 
                a(href="").pagination__link предидущая
              li.pagination__item
                a(href="").pagination__link все новости
              li.pagination__item 
                a(href="").pagination__link следующая
