extends layout
include mixins.jade

block content
  section.section__content
    .container-wrapper
      +bread([
        ['Главная'],
        ['Диагностика']
      ])
      .section__content-news
        .bg
          .section__menu.row.between
            a(href="").section__menu-link О центре
            a(href="").section__menu-link Партнеры
            a(href="").section__menu-link Годовые программы
            a(href="").section__menu-link Новости
            a(href="").section__menu-link Фотогалерея
          .container.about__img 
            img(src="images/photo/14.jpg", alt="")
          .container.ta-center.about-wrapper
            h3 О центре
            p.text Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Задача организации, в особенности же сложившаяся структура организации способствует подготовки и реализации соответствующий условий активизации. Не следует, однако забывать, что консультация с широким активом позволяет оценить значение модели развития. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации форм развития.
            p.text Не следует, однако забывать, что рамки и место обучения кадров позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. С другой стороны реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Товарищи! начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации.
    .bx-wrapper-4
      h2.section__h2 Наши радостные детишки-пациенты
      .bx-slider-4
        - for (var x = 0; x < 10; x++)
          .slide
            img(src="images/photo/13.jpg", alt="")
    .container-wrapper
      h2.section__h2 сертификаты
      .cert-wrapper.row.between
        .col__25
          img(src="images/cert/5.jpg", alt="")
        .col__25
          img(src="images/cert/6.jpg", alt="")
        .col__25
          img(src="images/cert/7.jpg", alt="")
        .col__25
          img(src="images/cert/8.jpg", alt="")