extends layout
include mixins.jade

block content
  section.section__content
    .container-wrapper
      +bread([
        ['Главная'],
        ['Диагностика']
      ])
      .row.between
        +sidebar([])
        .section__content-main
          h2.section__content-h2 У вас есть вопрос?
          .bg.bg-20
            p Не следует, однако забывать, что сложившаяся структура организации позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. 
          .section__content-quest-wrapper
            -for(var x=0;x<2;x++)
              .section__content-quest.bg.bg-20
                .section__content-quest-top
                  span.section__content-q Вопрос:
                  span.section__news-comment 20 июня 2016
                  .section__content-theme 
                    span Тема: 
                    a(href="") Аллергология-иммунология детская
                  p Здравствуйте! Где то полгода назад у меня началось першение в середине гортани, в районе щитовидной железы, особенно обостряется после еды и напитков, постоянно приходится то откашливаться или крехтеть как бабушка, и на работе этим я напрягаю сотрудников этим звуком. Подскажите, что у меня за проблема?
                  span.name - Татьяна
                .section__content-quest-bottom.ta-right
                  span.section__content-a Ответ:
                  p.text Повседневная практика показывает, что новая модель организационной деятельности в значительной степени обуславливает создание систем массового участия. Не следует, однако забывать, что сложившаяся структура организации позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Идейные соображения высшего порядка
                  .section__content-u С уважением, <br> врач  <a href=''>акушер-гинеколог</a> высшей категории, <a href=''>к.м.н.</a> <br> Тарасова Людмила Бернардовна
          .form-quest
            h2.section__content-h2 Задать вопрос специалисту
            .form-spec
              form(action="")
                .row.between 
                  .col__42
                    input.form__input(type="text", placeholder='Имя*')
                    input.form__input(type="text", placeholder='Телефон*')
                    textarea(placeholder='Вопрос*').form__area.responsive-hidden-area
                    input(type="submit", value='Задать вопрос').button.button_blue.button_grand-m
                  .col__54.desktop-area
                    textarea(placeholder='Вопрос*').form__area