extends layout
include mixins.jade

block content
  section.section__content
    .container-wrapper
      +bread([
        ['Главная'],
        ['Детские врачи']
      ])
      .row.between
        +sidebar([])
        .section__content-main
          .row.between.wrap.section__content-items
            - for (var x = 0; x < 12; x++)
              a(href='page2.html').section__content-item.col__31
                .section__content-img
                  img(src="images/photo/6.png", alt="")
                .section__content-name
                  span.section__content-title Антоненко Татьяна Викторовна
                  span.section__content-dol педиатр, к.м.н
          +pagination