//- jade scripts.jade
if jQuery
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
if amChart
  script(src="http://www.amcharts.com/lib/3/amcharts.js")
  script(src="http://www.amcharts.com/lib/3/serial.js")
  script(src="js/charts.js")
if captcha 
  script(src='https://www.google.com/recaptcha/api.js')
if navgoco
  script(src='js/jquery.navgoco.min.js')
if scrollbar
  script(src='js/Scrollbar.min.js')
if lightslider
  script(src='js/lightslider.min.js')
if slickslider
  script(src='js/slick.min.js')
if bxslider
  script(src='js/bxslider.min.js')
script(src='js/all.js')